<div class="container">
  <nav class="navbar is-spaced is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://zeraki.co.ke/">
        <img src="https://zeraki.co.ke/lp/images/logo.png" width="98" height="68" >
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item title">
        School Report
      </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item">
        Contact us
      </a>
        </div>
      </div>
    </div>
  </nav>
</div>
  <div class="container" id="report-body">
  <div class="columns is-centered is-vcentered ">
    <div class="column has-text-centered">
      <div class="logo">
        <figure class="image">
          <img src="../assets/Logo.png">
        </figure>
      </div>
    </div>
  </div>
  <div class="columns is-centered is-vcentered ">
    <div class="column has-text-centered">
      <div class="title">
        School Progress Report Card

      </div>
    </div>
  </div>

  <div class="columns is-vcentered pt-4 profile " >
    <div class="column">
      <div class="columns onhover right-border">
        <div class="column is-5  inner-label  ">
        Student Name: <span class="report mx-4">{{this.Results[0].student_name}} </span>
        </div>
        <div class="column inner-label">
          Admin No: <span class="report mx-4">{{this.Results[0].student_admission_number}} </span>

        </div>

      </div>

      <div class="columns top-border onhover right-border">
        <div class="column inner-label is-5">
          Exam: <span class="report mx-4">{{this.Results[0].exam_name}} </span>
        </div>
        <div class="column inner-label is-3">
          Class: <span class="report mx-4">{{this.Results[0].class_name}} </span>

        </div>
        <div class="column inner-label">
          Mean Grade: <span class="report mx-4">{{this.Results[0].mean_grade}} </span>
        </div>


      </div>

      <div class="columns  is-vcentered top-border onhover right-border">

        <div class="column inner-label is-5">
          Overal Position: <span class="report mx-4">{{this.Results[0].overall_position.position}} </span>

        </div>
        <div class="column inner-label is-3">
          Out of: <span class="report mx-4">{{this.Results[0].overall_position.position_out_of}} </span>

        </div>
        <div class="column inner-label">
          Deviation: <span class="report mx-4">{{this.Results[0].overall_position.deviation}} </span>
        </div>

      </div>
      <div class="columns is-centered is-vcentered top-border onhover right-border">

        <div class="column inner-label is-5">
          Stream Position: <span class="report mx-4">{{this.Results[0].stream_position.position}} </span>

        </div>
        <div class="column inner-label is-3">
          Out of: <span class="report mx-4">{{this.Results[0].stream_position.position_out_of}} </span>

        </div>
        <div class="column inner-label ">
          Deviation: <span class="report mx-4">{{this.Results[0].stream_position.deviation}} </span>

        </div>

      </div>
<div class="columns is-centered is-vcentered top-border onhover right-border">

        <div class="column is-5">
           <span class="sub-title">
            Mean marks:
          </span>

        </div>
        <div class="column inner-label is-3">
          Deviation: <span class="report mx-4">{{this.Results[0].mean_marks.deviation}} </span>

        </div>
        <div class="column inner-label ">
         Average Score: <span class="report mx-4">{{this.Results[0].mean_marks.avg_score}} </span>

        </div>

      </div>

    </div>
    <div class="column  is-3 ">
      <div class="student-photo">
        <figure class="image">
          <img src={{this.Results[0].student_photo}}>
        </figure>
      </div>
    </div>


  </div>
  <!-- <div class="columns columns is-vcentered pb-4 mean-marks">
    <div class="column is-9">
      <div class="columns is-centered">
        <div class="column is-5">
          <div class="sub-title">
            Mean marks:
          </div>

        </div>
        <div class="column is-3">
          <div class="inner-label">
            Deviation: <span class="report mx-4">{{this.Results[0].mean_marks.deviation}} </span>
          </div>
        </div>
        <div class="column">
          <div class="inner-label">
            Average Score: <span class="report mx-4">{{this.Results[0].mean_marks.avg_score}} </span>
          </div>
        </div>
      </div>

    </div>
    <div class="column is-3">
    </div>



  </div> -->


  <table class="table  is-hoverable is-bordered">
    <thead>
      <tr>
        <th> No</th>
        <th>Subject Name</th>
        <th>Grade</th>
        <th>Score</th>
        <th>Rank</th>
        <th>Out of</th>
        <th>deviation</th>
        <th>Comments</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>1</th>
        <td><span class="report">{{this.Results[0].subject_results[0].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[0].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[0].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[0].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[0].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[0].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[0].comment}}</span></td>
      </tr>
      <tr>
        <th>2</th>
        <td><span class="report">{{this.Results[0].subject_results[1].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[1].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[1].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[1].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[1].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[1].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[1].comment}}</span></td>

      </tr>
      <tr>
        <th>3</th>
        <td><span class="report">{{this.Results[0].subject_results[2].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[2].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[2].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[2].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[2].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[2].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[2].comment}}</span></td>

      </tr>
      <tr class="">
        <th>4</th>
        <td><span class="report">{{this.Results[0].subject_results[3].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[3].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[3].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[3].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[3].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[3].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[3].comment}}</span></td>


      </tr>
      <tr>
        <th>5</th>
      <td><span class="report">{{this.Results[0].subject_results[4].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[4].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[4].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[4].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[4].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[4].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[4].comment}}</span></td>


      </tr>
      <tr>
        <th>6</th>
      <td><span class="report">{{this.Results[0].subject_results[5].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[5].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[5].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[5].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[5].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[5].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[5].comment}}</span></td>

      </tr>
      <tr>
        <th>7</th>
       <td><span class="report">{{this.Results[0].subject_results[6].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[6].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[6].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[6].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[6].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[6].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[6].comment}}</span></td>

      </tr>
      <tr>
        <th>8</th>
      <td><span class="report">{{this.Results[0].subject_results[7].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[7].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[7].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[7].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[7].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[7].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[7].comment}}</span></td>

      </tr>
      <tr>
        <th>9</th>
      <td><span class="report">{{this.Results[0].subject_results[8].subject_name}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[8].grade}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[8].score}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[8].rank}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[8].rank_out_of}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[8].deviation}}</span></td>
        <td><span class="report">{{this.Results[0].subject_results[8].comment}}</span></td>

      </tr>
      <tr>
        <th>10</th>
      <td><span class="report">{{this.Results[0].subject_results[9].subject_name}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[9].grade}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[9].score}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[9].rank}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[9].rank_out_of}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[9].deviation}}</span></td>
        <td> <span class="report" >{{this.Results[0].subject_results[9].comment}}</span></td>

      </tr>
      <tr>
        <th>11</th>
       <td><span class="report" >{{this.Results[0].subject_results[10].subject_name}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[10].grade}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[10].score}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[10].rank}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[10].rank_out_of}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[10].deviation}}</span></td>
        <td><span class="report" >{{this.Results[0].subject_results[10].comment}}</span></td>

      </tr>

    </tbody>
  </table>
<div class="columns is-centered overtime">
    <div class="column is-6 has-text-centered">
      <div class="title">
        Performance overtime
      </div>

    </div>
</div>
  <div class="columns is-centered previous" >
    <div class="column  right-border">
      <div class="sub-title">
       Exam Name
      </div>

    </div>
    <div class="column right-border">
      <div class="sub-title">
     Average Score
      </div>

    </div>
    <div class="column right-border">
      <div class="sub-title">
       Exam Name
      </div>

    </div>
    <div class="column ">
      <div class="sub-title">
       Average Score
      </div>

    </div>
</div>
<div class="columns  is-centered previous onhover">
    <div class="column inner-label right-border ">

       <span class="report" >{{ this.Results[0].student_performance_over_time[0].exam_name}} </span>


    </div>
 <div class="column inner-label right-border">

       <span class="report" > {{ this.Results[0].student_performance_over_time[0].avg_score}}</span>


    </div>
   <div class="column inner-label right-border">

        <span class="report" >{{ this.Results[0].student_performance_over_time[1].exam_name}} </span>


    </div>
 <div class="column inner-label">

    <span class="report" > {{ this.Results[0].student_performance_over_time[1].avg_score}}</span>


    </div>
</div>
<div class="columns is-centered  previous onhover">
    <div class="column inner-label right-border">

      <span class="report" >{{ this.Results[0].student_performance_over_time[2].exam_name}} </span>

    </div>
 <div class="column inner-label right-border">

 <span class="report" > {{ this.Results[0].student_performance_over_time[2].avg_score}}</span>


    </div>
    <div class="column inner-label right-border">

 <span class="report" >{{ this.Results[0].student_performance_over_time[3].exam_name}} </span>

    </div>
 <div class="column inner-label">

    <span class="report" > {{ this.Results[0].student_performance_over_time[3].avg_score}}</span>


    </div>
</div>
<div class="columns is-centered previous onhover">
    <div class="column inner-label right-border ">

   <span class="report" >{{ this.Results[0].student_performance_over_time[4].exam_name}} </span>


    </div>
   <div class="column inner-label right-border">
 <span class="report" > {{ this.Results[0].student_performance_over_time[4].avg_score}}</span>


    </div>
    <div class="column inner-label right-border">

    <span class="report" >{{ this.Results[0].student_performance_over_time[5].exam_name}} </span>

    </div>
  <div class="column inner-label">

    <span class="report" > {{ this.Results[0].student_performance_over_time[5].avg_score}}</span>


    </div>
</div>
<div class="comments-sec">

<div class="columns is-centered">
    <div class="column is-6 has-text-centered">
      <div class="title">
      Comments
      </div>

    </div>
  </div>
 <div class="columns is-centered comments-footer" >
    <div class="column is-3 right-border">
      <div class="sub-title ">
        Class Teacher's Remarks:
      </div>

    </div>
 <div class="column">
      <div class="report">
       {{this.Results[0].class_teachers_remarks}}
      </div>

    </div>
</div>
<div class="columns is-centered comments-footer">
    <div class="column is-3 right-border">
      <div class="sub-title ">
        Principal's Remarks:
      </div>

    </div>
 <div class="column">
      <div class="report">
      {{this.Results[0].principals_remarks}}
      </div>

    </div>
</div>
</div>


</div>
<!-- <app-table></app-table> -->
